*{
	padding: 0;
	margin: 0;
}
body{
	
}
#wrapper{
	font-family: 'Roboto', sans-serif;
}
#main-section{
	background-color: #ff4444;
}
#portfolio-section{
	background-color: #ffbb33;
}
#skills-section{
	background-color: #00C851;
}
#about-section{
	background-color: #33b5e5;
}
.bio{

}
.my-picture{
	height: 200px;
	width: 150px;
	border-radius: 50%;
	box-shadow: 2px 2px 10px 0px #000000;
}